[submodule "AES-GCM-SIV"]
	path = AES-GCM-SIV
	url = git@github.com:Shay-Gueron/AES-GCM-SIV.git
[submodule "asm/abcBridge"]
	path = asm/deps/abcBridge
	url = https://github.com/GaloisInc/abcBridge.git
[submodule "asm/deps/saw-script"]
	path = asm/deps/saw-script
	url = git@github.com:GaloisInc/saw-script.git
