[submodule "AES-GCM-SIV"]
	path = AES-GCM-SIV
	url = https://github.com/galoisinc/AES-GCM-SIV.git
	branch = master
[submodule "saw-script"]
	path = saw-script
	url = https://github.com/GaloisInc/saw-script
